In [2]:
import pandas as pd

Cargar datos

In [3]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv('dataset_final.csv')
df.head(50)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
31,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
32,27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False
34,29,Nidoran♀,Poison,NaN,275,55,47,52,40,40,41,1,False
35,30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,1,False
36,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
37,32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
38,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
40,35,Clefairy,Fairy,NaN,323,70,45,48,60,65,35,1,False
41,36,Clefable,Fairy,NaN,483,95,70,73,95,90,60,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
44,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
45,40,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
47,42,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False

In [85]:
df.sort_values(["#"], ascending=[False])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [4]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
df.count()
#df.describe()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [11]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
df_poisson = df[df["Type 1"] == "Poison"]
df_poisson.count()

#             28
Name          28
Type 1        28
Type 2        13
Total         28
HP            28
Attack        28
Defense       28
Sp. Atk       28
Sp. Def       28
Speed         28
Generation    28
Legendary     28
dtype: int64

In [12]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
freq = df["Type 1"].value_counts()
freq.describe()

count     18.000000
mean      44.444444
std       27.901554
min        4.000000
25%       27.250000
50%       32.000000
75%       55.750000
max      112.000000
Name: Type 1, dtype: float64

In [13]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
freq = df["Type 1"].value_counts()
print(freq)
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
Water
'''
print(df["Type 1"].max())

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64
Water

In [14]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
df[df["Speed"] == df["Speed"].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

In [15]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
mayores_100 = df["Defense"] > 100
print(df[mayores_100].count())

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''

#             123
Name          123
Type 1        123
Type 2         87
Total         123
HP            123
Attack        123
Defense       123
Sp. Atk       123
Sp. Def       123
Speed         123
Generation    123
Legendary     123
dtype: int64

'\n4.1 ¿Cuántos pokemon tiene una defensa superior a 100?\n'

In [16]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
defensa_100 = df["Defense"] > 100
velocidad_100 = df["Speed"] > 100
filtered = defensa_100 & velocidad_100
df[filtered].count()
#df[filtered].head(10)

#             9
Name          9
Type 1        9
Type 2        8
Total         9
HP            9
Attack        9
Defense       9
Sp. Atk       9
Sp. Def       9
Speed         9
Generation    9
Legendary     9
dtype: int64

In [17]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(["Type 1","Type 2"], ascending=[True, False])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
307,283,Surskit,Bug,Water,269,40,30,32,50,52,65,3,False
220,205,Forretress,Bug,Steel,465,75,90,140,60,60,40,2,False
228,212,Scizor,Bug,Steel,500,70,130,100,55,80,65,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
460,413,WormadamTrash Cloak,Bug,Steel,424,60,69,95,69,95,36,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [18]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
only_water_and_fire = (df["Type 1"] == "Water") | (df["Type 1"] == "Fire")

df[only_water_and_fire].head(10)
#df[only_water_and_fire].count()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False

In [19]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
legendaries = df["Legendary"] == True
df[legendaries].head(66)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [23]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
mean_legend = df.groupby ("Legendary").mean("Total")
mean_legend.head()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,
Legendary,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
No Legendary,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354

In [32]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
mean_legend = df.loc[df["Legendary"] == True, "Legendary"] = "Legendary"
mean_legend = df.loc[df["Legendary"] == False, "Legendary"] = "No Legendary"
mean_legend = df.groupby ("Legendary").mean("Total")
mean_legend.head()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,
Legendary,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
No Legendary,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354

In [34]:
'''
11. Añade una nueva columna ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

df["Doble tipo"] = "dos tipos"

In [35]:
df.loc[df['Type 2'].isnull(),'doble_type'] = False
df.loc[df['doble_type'].isnull(),'doble_type'] = True
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo,doble_type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,No Legendary,dos tipos,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,No Legendary,dos tipos,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,No Legendary,dos tipos,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,No Legendary,dos tipos,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,No Legendary,dos tipos,False

In [36]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

df1 = df[df["doble_type"] == True]
df2 = df1[["Type 1","Type 2","Name"]]

print(df2)

      Type 1  Type 2                   Name
0      Grass  Poison              Bulbasaur
1      Grass  Poison                Ivysaur
2      Grass  Poison               Venusaur
3      Grass  Poison  VenusaurMega Venusaur
6       Fire  Flying              Charizard
..       ...     ...                    ...
795     Rock   Fairy                Diancie
796     Rock   Fairy    DiancieMega Diancie
797  Psychic   Ghost    HoopaHoopa Confined
798  Psychic    Dark     HoopaHoopa Unbound
799     Fire   Water              Volcanion

[414 rows x 3 columns]

In [37]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra
get_products = list(map(articulos.get,compra))
get_total = reduce(lambda x, y: x + y, get_products)
print(get_total)


# B. Una función que calcule el precio total de la compra con un descuento del 10%

get_10_discount = (reduce(lambda x, y: x + y, get_products)*90)/100
print(get_10_discount)

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
get_10_disc_over_100 = (lambda get_total : get_10_discount if get_total > 100 else get_total) (get_total)
print(get_10_disc_over_100)

# D. Una función que calcule el precio total aplicando el IVA (21%)
total_con_iva = (get_10_disc_over_100 * 121)/100
print(total_con_iva)

# E.lista los artículos cuyo precio es superior a 20€
articulos_over_20 = set(dict(filter(lambda x: x[1] > 20, articulos.items())))
art_compra_over_20 = list(articulos_over_20 & set(compra))
print(art_compra_over_20)

155
139.5
139.5
168.795
['Pantalón', 'Gafas', 'Corbata']

In [44]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

from statistics import mean

def promedio_curso(curso):
    alumnos_curso = list(filter(lambda x: x[2] == curso, alumnos))
    alumnos_curso_promedio = list(map(lambda x: (x[0], x[1], mean(x[3])), alumnos_curso))
    return alumnos_curso_promedio

In [45]:
promedio_curso('1')

[('Juan', 'Pérez', 7),
 ('Luis', 'González', 7),
 ('Pedro', 'Rodríguez', 7),
 ('Marta', 'López', 7),
 ('Javier', 'Sánchez', 7),
 ('Sergio', 'Jiménez', 7),
 ('Pablo', 'Álvarez', 7)]